<Footer Style="text-align: center; background-color: var(--wpk-dark)">
    <div class="wpk-secondary-text wpk-footer">
        <Row Class="wpk-footer-map">
            <Col Span="8"><a href="https://discord.com/invite/Kz68XmVXMU/" target="_blank">Join our Discord</a></Col>
            <Col Span="8"><a href="/ExtraLife"> Extra Life</a></Col>
            @*<Col Span="8"><a href="/Contact">Contact Us</a></Col>*@
        </Row>
        <Row>
            <Col Span="24" class="wpk-secondary-text py-3">Woofpak Gaming 2021 Created by TheHotDogMachine</Col>

        </Row>
    </div>
</Footer>
@code {

}
