@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="px-4 py-4 text-center wpk-home-img" style="background-color: var(--wpk-secondary); min-height: calc(100vh - 64px);">
    <div class="wpk-30w-section wpk-secondary-bg wpk-border-round-1 wpk-pad-10" style="min-width: 350px;">
        <div class="wpk-80p">
            <h4>Enter your email.</h4>
            <hr />
            <div style="text-align:left">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                </div>
            </div>
        </div>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
