@page "/ExtraLife"
@using WoofpakGamingSiteServerApp.Components

<div class="px-4 text-center wpk-home-img" style="background-color: var(--wpk-secondary);">
    <div class="wpk-page-content">
        <div class="wpk-header wpk-drop-shdw " style="color: var(--wpk-highlight)">Extra Life 2021!</div>

        <div class="wpk-full-width-section px-3 py-3">
            <img class="wpk-logo-lg " src="/css/img/media/Extra Life_white.png" />
        </div>
    </div>

</div>

<div class="px-4 text-center" style="background-color: var(--wpk-secondary); margin-bottom: 10px">
    <div class="wpk-page-content">

        <div class="wpk-full-width-section px-3 py-3">
            <h1 class="wpk-primary-text">
                Our Day of Play 2021 is coming up on July 16th at 8:00 PM EST!
            </h1>
            <a class="btn wpk-btn-highlight-fill" href="https://www.extra-life.org/team/WOOFPAK" target="_blank" role="button">DONATE NOW</a>

        </div>
    </div>

</div>

<div class="px-4 text-center" style="background-color: var(--wpk-primary); margin-bottom: 10px">
    <div class="wpk-page-content">

        <TitledTextContent TitleText="Our Annual Extra Life Event">
            Since 2018, our community has held an Extra Life event annually. Across all of our marathons, we have managed to raise over $6,000 
            for Children's Miracle Network Hospitals(<a href="https://www.cincinnatichildrens.org/" target="_blank">Cincinnati Children's Hospital</a>
            specifically). We aim to grow this event each year in many ways. Continuously pushing the ceiling of our fundraising capabilities,
            increasing our community interaction and involvement, and improving interaction between participants and our donors to ensure everyone 
            feels how much we value them whether they are donating, fundraising, or just hanging out.
        </TitledTextContent>
    </div>

</div>

<div class="px-4 text-center"  style="background-color: var(--wpk-highlight);">
    <div class="wpk-page-content">

        <TitledTextContent TitleText="Want to play? Join us!" TitleClass="wpk-dark-text" TextContentClass="wpk-dark-text">
            Our annual Extra Life Day of Play is approaching and we are welcoming anyone who wants to join our team for the cause to do so! 
            If you’re unfamiliar with this event, it’s similar to a walkathon where people gather sponsors to support them walking a specified distance 
            or time except the Extra Life event replaces walking with participating in a gaming marathon (in this case for 24 hours). 
            All funds raised go toward a Children’s Miracle Network Hospital of the team’s choice. Our choice of hospital is the Cincinnati Children’s Hospital 
            which is local to our team founders.

            If you’re interested in joining us remotely and helping us raise money for a great time, learning more about the event, or making a donation, 
            you can visit our <a href="https://www.extra-life.org/team/woofpak" target="_blank">
            Extra Life team page</a>. Also, if you'd want to stream while joining us, please sign up for a Woofpak Gaming account here on the website and fill out your account details!

            Keep an eye out here for more updates regarding this event including tournament info, Day of Play stream details, and more!
</TitledTextContent>
    </div>

</div>

@code {

}
