@page "/"
@using WoofpakGamingSiteServerApp.Components

<div class="px-4 text-center wpk-home-img" style="background-color: var(--wpk-secondary)">
    @*; margin-bottom: 10px*@
    <div class="py-3">
        <div class="wpk-header wpk-drop-shdw " style="color: var(--wpk-highlight)">Welcome to the Woofpak!</div>

        <div class="wpk-full-width-section">
            <img class="wpk-logo-lg " src="/css/img/LogoWoofpak.svg" />
        </div>

        <TitledTextContent TitleText="About The Woofpak">
            We’re Woofpak Gaming, a small group of friends based out of the Cincinnati area who have gradually evolved into a tiny community. Our social focus is on gaming for good. So far, yearly, we have held our very own Extra Life Day of Play in support of Cincinnati Children's Hospital.
            Our goals for the future are to give back even more to our community through social gaming. Feel free to join us on our journey to make the world a better place and become a member of The Woofpak
            Awoooo!
        </TitledTextContent>
    </div>

</div>

<div class="px-4 text-center" style="background-color: var(--wpk-secondary); background: url('/css/img/media/nikita-kostrykin.jpg') no-repeat center fixed;">
    <div class="wpk-page-content">

        <TitledTextContent TitleText="Extra Life" TitleClass="wpk-dark-text" TextContentClass="wpk-dark-text">
            Each year we host an Extra Life 24 hour video game marathon in our community and we are continually seeking to improve our event and the experience for those in our community.
            Throughout the event we interact with our community by hosting tournaments and giveaways.
            Over the past 3 years we have raised $6,458.62 with $4,297.62 of that being last year alone.
        </TitledTextContent>
    </div>
</div>
<MediaTextRight TitleText="Extra Life" ImageUrl="/css/img/media/nikita-kostrykin.jpg">
    Each year we host an Extra Life 24 hour video game marathon in our community and we are continually seeking to improve our event and the experience for those in our community.
    Throughout the event we interact with our community by hosting tournaments and giveaways.
    Over the past 3 years we have raised $6,458.62 with $4,297.62 of that being last year alone.
</MediaTextRight>
